<article class="post-card">
    
    <div class="post-header-user">
        <img [src]="post.authorAvatar || 'assets/default-avatar.png'" class="author-avatar" alt="Foto de {{post.author}}">
        <div class="author-info">
            <span class="author-name">@{{ post.author }}</span>
            <span class="post-date-mini">{{ post.createdAt | date:'mediumDate' }}</span>
        </div>
    </div>

    <h3>{{ post.titulo }}</h3>
    <p>{{ post.mensaje }}</p>

    @if (post.imagenUrl) {
        <img [src]="post.imagenUrl" class="post-image" alt="Imagen de publicación" />
    }

    <div class="post-meta">
        <span>{{ post.likes }} Me gusta</span>
    </div>

    <div class="post-actions">
        <button (click)="toggleLike()">♥</button>

        @if (auth.getUser()?.nombreUsuario === post.author) {
            <button (click)="deletePost()">Eliminar</button>
        }
    </div>

    <div class="post-comments">
        <h4>Comentarios</h4>

        <div class="comments-list">
            @for (c of post.showingComments; track c._id || c.fecha) {
                <div class="comment-item">
                    <p>
                        <strong>{{ c.autor }}</strong>
                        @if (c.modificado) { <span class="edited-badge">(editado)</span> }
                    </p>

                    @if (editingCommentId !== c._id) {
                        <p>{{ c.texto }}</p>
                        
                        @if (auth.getUser()?.nombreUsuario === c.autor) {
                            <button class="btn-link-edit" (click)="startEditing(c)">Editar</button>
                        }
                    } @else {
                        <div class="edit-comment-box">
                            <input [(ngModel)]="editingText" class="edit-input">
                            <div class="edit-actions">
                                <button (click)="saveComment(c)" class="btn-save">Guardar</button>
                                <button (click)="cancelEditing()" class="btn-cancel">Cancelar</button>
                            </div>
                        </div>
                    }
                    
                    <small>{{ c.fecha | date:'short' }}</small>
                </div>
            }
        </div>

        @if (post.hasMoreComments) {
            <button class="btn-load-more-comments" (click)="loadMoreComments()">
                Ver más comentarios
            </button>
        }

        <div class="new-comment-box">
            <input [(ngModel)]="commentText" placeholder="Escribe un comentario..." />
            <button (click)="addComment()">Comentar</button>
        </div>
    </div>

    <div class="author-info">
        <span class="author-name">@{{ post.author }}</span>
        <a [routerLink]="['/post', post._id]" class="post-date-mini link-detalle">
            {{ post.createdAt | date:'mediumDate' }} (Ver detalle)
        </a>
    </div>
</article>