<nav class="navbar">
    <div class="navbar-overlay"></div>

    <div class="navbar-container">
        <a routerLink="/" class="navbar-logo">
            <img src="favicon.ico" alt="EcoRed logo" class="navbar-icon" />
            EcoRed
        </a>

        <ul class="navbar-links">
            @if (auth.isLogged()) {
                <li><a routerLink="/publicaciones" routerLinkActive="active">Publicaciones</a></li>
                <li><a routerLink="/mi-perfil" routerLinkActive="active">Mi perfil</a></li>
                <li><a style="cursor: pointer;" (click)="logout()">Cerrar Sesión</a></li>
            } @else {
                <li><a routerLink="/register" routerLinkActive="active">Registro</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Iniciar sesión</a></li>
            }
        </ul>

        <button class="navbar-toggle" (click)="toggleMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>

    <div class="navbar-mobile" [class.open]="menuAbierto">
        <ul>
            @if (auth.isLogged()) {
                <li><a routerLink="/publicaciones" (click)="toggleMenu()">Publicaciones</a></li>
                <li><a routerLink="/mi-perfil" (click)="toggleMenu()">Mi perfil</a></li>
                <li><a style="cursor: pointer;" (click)="logout()">Cerrar Sesión</a></li>
            } @else {
                <li><a routerLink="/register" (click)="toggleMenu()">Registro</a></li>
                <li><a routerLink="/login" (click)="toggleMenu()">Iniciar sesión</a></li>
            }
        </ul>
    </div>
</nav>